{% extends 'blog/base.html'%}
{% load static %}

{% block front_page %}

<div class="hero-image" style="height: 500px;background-image: url({% static 'blog/img/964017.jpg' %});">
    <div class="hero-text">
        <h1 style="font-size:50px">Hey, I am a software developer</h1>
        <p>I can help you solve a problem, build a product or grow existing project.</p>
        <button type="button" class="btn btn-light btn-lg"><a
                style="text-decoration: none;text-align: center;color: red;"
                href="{% static 'KapilRaj_BackendDev_1.6yrsExp.pdf'%}">Here is my resume</a></button>

    </div>
</div>
{% endblock front_page %}