{% extends 'blog/base.html'%}
{% load static %}

{% block front_page %}
<!-- <div style="background-image: url({% static 'blog/img/964015.jpg' %}); max-width:100%;
max-height:100%;"> -->
<div>
    <div>

        <div class="col-md-12 px-0">
            <p class="lead my-3">Hey there,</p>
            <h1 class="display-4 fst-italic">My name is Kapil</h1>
            <p class="lead my-3">A backend software developer on the way to become a full-stack developer.</p>
        </div>
    </div>
    <h1> hello</h1>
</div>
{% endblock front_page %}