{% extends 'blog/base.html'%}
{% load static %}

{% block front_page %}

<div class="hero-image" style="height: 500px;background-image: url({% static 'blog/img/964017.jpg' %});">
    <div class="hero-text">
        <h1 style="font-size:50px">Hey, I am a software developer</h1>
        <p>I can help you solve a problem, build a product or grow existing project.</p>
        <div class='p-4'>
            <div class="button">
                <a style="color:#d63384; text-decoration: none;" href="{% static 'kapilraj_resume.pdf'%}">
                    <i class="fa fa-download"></i> Download resume</a>

            </div>

        </div>

    </div>
</div>
{% endblock front_page %}