{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block main_content %}

<div class="container p-4">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->

        <div class="col-lg-7 col-md-12 mb-4 mb-md-0">
            <div class="card-body shadow-lg">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block text-primary">
                        <p>{% for tag in post.tags.all %}
                            <a href='{% url "blog:post_list_by_tag" tag.slug %}'>{{tag.name|capfirst }}</a>
                            {% if not forloop.last %}
                            ,
                            {% endif %}
                            {% endfor %}
                        </p>
                    </strong>
                    <h3 class="mb-0" style="color: #d63384;">{{post.title}}</h3>
                    <div class="mb-1 text-muted">{{post.updated}}</div>
                    <p class="card-text mb-auto">{{post.body}}</p>

                    <p style="margin-top: 20px;">
                        <a href='{%url "blog:post_share" post.id %}'>Share this post.</a>
                    </p>

                </div>
            </div>
            <div style="margin:20px;">
                <h5>Similar posts</h5>
                {% for post in similar_posts %}
                <p style="margin-top: 10px;">
                    <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                </p>
                {% empty %}
                There are no similar posts yet.
                {% endfor %}
            </div>
        </div>
        <!-- comment/ second half -->
        <div class="col-lg-5 col-md-12 mb-4 mb-md-0">
            <div class="col p-4 d-flex flex-column position-static">

                <strong class="d-inline-block mb-2 text-primary">Comments</strong>
                {% with comments.count as total_comments %}
                <h5>
                    {{total_comments}} comment{{total_comments|pluralize}}
                </h5>
                {% endwith %}
                <hr>
                {% for comment in comments %}
                <div>
                    <!-- <p>
                        Comment {{forloop.counter}} by {{comment.name}}
                        {{comment.created}}
                    </p> -->
                    {{ comment.body|linebreaks }}
                </div>
                {% empty %}
                <p>There are no comments yet.</p>
                {% endfor %}

                <hr>
                {% if new_comment %}
                <h2>Your comment has been added.</h2>
                {% else %}
                <h5>Add a new comment.</h5>
                <div>

                    <form method='POST'>
                        {{comment_form|crispy}}
                        {% csrf_token %}

                        <button type="submit" class='btn btn-primary btn-dark btn-block '
                            style='margin-top: 20px; padding: 5px;' value="Add commment">Add
                            comment</button>
                    </form>
                </div>
                {% endif %}
            </div>

        </div>

    </div>
</div>






{% endblock main_content %}